@import "../../themes/ionic.globals";

// Menu
// --------------------------------------------------

/// @prop - Width of the menu
$menu-width:                 304px !default;
$menu-height:                80%;

/// @prop - Width of the menu on small devices (under 340px)
$menu-small-width:           $menu-width - 40px !default;


ion-menu-vertical {
  @include position(0, 0, 0, 0);

  position: absolute;

  display: none;

  contain: strict;
}

ion-menu-vertical.show-menu {
  display: block;
}


.menu-vertical-inner {
  @include position(0, auto, initial, 0);
  @include transform(translate3d(-9999px, 0, 0));

  position: absolute;

  display: block;

  width: 100%;
  height: $menu-height;

  contain: strict;
}

.menu-vertical-inner > ion-header,
.menu-vertical-inner > ion-content,
.menu-vertical-inner > ion-footer {
  position: absolute;
}

ion-menu-vertical[side=left] > .menu-vertical-inner {
  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    right: auto;
    left: 0;
  }
}

ion-menu-vertical[side=right] > .menu-vertical-inner {
  @include multi-dir() {
    // scss-lint:disable PropertySpelling
    right: 0;
    left: auto;
  }
}

ion-menu-vertical[side=end] > .menu-vertical-inner {
  @include position-horizontal(auto, 0);
}

ion-menu-vertical ion-backdrop {
  z-index: -1;
  display: none;

  opacity: .01;
}

.menu-content {
  @include transform(translate3d(0, 0, 0));
}

.menu-content-open {
  cursor: pointer;

  touch-action: manipulation;
}

.menu-content-open ion-pane,
.menu-content-open ion-content,
.menu-content-open .toolbar {
  // the containing element itself should be clickable but
  // everything inside of it should not clickable when menu is open
  pointer-events: none;
}




// Menu Reveal
// --------------------------------------------------
// The content slides over to reveal the menu underneath.
// The menu itself, which is under the content, does not move.

ion-menu-vertical[type=reveal] {
  z-index: 0;
}

ion-menu-vertical[type=reveal].show-menu .menu-vertical-inner {
  @include transform(translate3d(0, 0, 0));
}


// Menu Overlay
// --------------------------------------------------
// The menu slides over the content. The content
// itself, which is under the menu, does not move.

ion-menu-vertical[type=overlay] {
  z-index: $z-index-menu-overlay;
}

ion-menu-vertical[type=overlay] .show-backdrop {
  display: block;
}
